#!/usr/bin/make -f

#export DH_VERBOSE=1

%:
	dh $@ --with quilt

override_dh_installinit:
	dh_installinit -pgitlab --name gitlab

override_dh_auto_build:
	bundle install --deployment --without development test
	rm -rf vendor/bundle/ruby/1.9.1/cache

override_dh_compress:
	dh_compress -X usr/share/doc/gitlab/doc/

override_dh_clean:
	rm -rf vendor/bundle .bundle

